@use 'base/mixins' as m;
@use 'base/variables' as v;

.header{
  display: flex;
  align-items: center;
  background-color: v.$negro;
  
  a{
    margin: 0;
    color: v.$blanco;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;

    @include m.desktop {
      font-size: 3.5rem;
    
    }
  }
  
  span{
    color:#b7ac7f;
  }
  .contenido-header{
    position: relative;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    @include m.telefono {
      padding:.5rem;
      justify-content: space-between;
      align-items: center;
  }
    @include m.tablet{
        @include m.grid(1,1rem);
        padding: 1.6rem;
        justify-content: space-between;
        align-items: center;
    }
  
    
  }

}
.lema{
  font-weight: bold;
  font-family: v.$fuente_principal;
  font-size: 2rem;
}
.header-text{
  display: inline-block;
  margin: 0;
@include m.desktop {
  padding-left: 3rem; 
}
}
.show{
    @include m.telefono{
     border-left: 5rem;   
    }
}
.hidden{
  display: none;
}