@use 'base/mixins' as m;
@use 'base/variables' as v;

.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12rem;
  text-align: center;
  text-transform: uppercase;
  a{
    display: block;
    text-align: center;
    text-transform: uppercase;
    color:v.$blanco;
    padding:2rem 2rem ;
    background-color: v.$negro;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    @include m.tablet {
          margin: 0;
    }
    &:hover{ //Caracter especial que anida correctamente el hover al enlace
        color:v.$amarillo;
    }
}
}
.principal{
    padding-top: 10rem;
   h2{
    padding-top: 4rem;
    text-align: center;
    text-transform: uppercase;
   }
   details{
    list-style-type: none;
    

  }
  summary{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top:2rem;
    padding-bottom:2rem;
    cursor: pointer;
    @include m.desktop {
      font-size: 2.5rem;
      text-align: left;
    }
  }
}
.news-container{
    @include m.desktop {
        @include m.grid(2,3rem);
    }
  h3{
    
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    padding-top:2rem;
    padding-bottom:2rem;

    @include m.desktop {
      font-size: 3.5rem;
      text-align: left;
    }

  }
  h5{
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    padding-top:2rem;
    padding-bottom:2rem;
    @include m.desktop {
      font-size: 2.5rem;
      text-align: left;
    }

  }
  p{
    padding-bottom:2rem;
    text-align: left;
    font-size: 2rem;
    font-size: 1.5rem;
    @include m.desktop {
        font-size: 2rem;
    }
  }
}
.herramientas{
@include m.tablet {
  padding-bottom: 2rem;
}
  background-color: #b7ac7f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  ul{
    
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 700;
 
  }
  li:nth-child(odd){
    background-color: darken(#b7ac7f,15%);
}
  li:nth-child(even){
    background-color: darken(#b7ac7f,10%);
  }
  li{
    width: 100%;
    color: v.$blanco;
    padding: 2rem;
    
  }
  a{
    color: v.$negro;
    &:hover{
      color:v.$blanco;
    }
  }
  h2{
    padding-top: 4rem;
    text-align: center;
    text-transform: uppercase;
   }

  }
  .separator{
    background-color: v.$blanco;
    padding-bottom: 2rem;
  }
.info_container{
  h3{
    text-align: center;
  }
 
}
.about_me{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h4{
    font-size: 3rem;
   }
p{
  padding-top: 2rem;
  padding-bottom:2rem;
  text-align: left;
  font-size: 2rem;
  font-size: 1.5rem;
  @include m.desktop {
      font-size: 2rem;
  }
}

}
