@use 'base/mixins' as m;
@use 'base/variables' as v;

.principal{
    padding-top: 10rem;
    h3{
        text-transform: uppercase;
        text-align: left;
    }
}
.news-container{
    @include m.desktop {
        @include m.grid(2,3rem);
    }
  h4{
    
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    padding-top:2rem;
    padding-bottom:2rem;

    @include m.desktop {
      font-size: 3.5rem;
      text-align: left;
    }

  }
  p{
    padding-bottom:2rem;
    text-align: left;
    font-size: 2rem;
    font-size: 1.5rem;
    @include m.desktop {
        font-size: 2rem;
    }
  }
}
.info_container{
  h3{
    text-align: center;
  }
 
}
.about_me{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
    max-width: 90rem;
    align-items: center;
  }
p{
  padding-top: 2rem;
  padding-bottom:2rem;
  text-align: left;
  font-size: 2rem;
  font-size: 1.5rem;
  @include m.desktop {
      font-size: 2rem;
  }
}

}